/* The component style is inserted here. */
.turnMessage{
    position: absolute;
    top:30px;
}
.drag{
    font-size: 240px;
    font-weight: 100;
    position: absolute;
    top:-100%;
    width:240px;
    height: 240px;
}
.circle svg{
    font-size: 180px;

}

